/*
Template Name: Bashori - Wedding HTML Template;
Version: 1.0;
Theme Author: Mofizul Islam;
Theme URI: http://themepack.net;
Tags: wedding, agency, couple, marriage, bride, groom, ceremony, engagement, wedding planner, wedding service, photography, love, portfolio, business, honeymoon;
Description: Bashori is a Responsive Wedding HTML template with fresh and clean Design. Easy editable user friendly code. It is based on Twitter Bootstrap v3. Main feature of the Bashori is it's suitable for wedding couple and wedding agencies. It looks perfect and the layout is optimized for mobile devices and it works without errors on all major browsers. Just take the best template of your choice, change the text, add your images and done! Bashori is 100% responsive and well documented HTML5 template;
 */

/***************************************************/
/************** TABLE OF CONTENTS ****************
01. GLOBAL CSS
02. PRELOADER
03. MAIN MENU
04. AUDIO CONTROL
05. SLIDER AREA
06. COUNT DOWN
07. GROOM AND BRIDE
08. COUPLE INTRO
09. OUR SERVICE
10. PROGRAM TIMELINE
11. PHOTO GALLERY
12. INTRO VIDEO
13. OUR FRIENDS
14. COUNTER UP
15. SUPPORT STUFF
16. FRIEND WISHES
17. BLOG
18. WISHED GIFTS
19. RSVP
20. FEATURE IMAGE
21. FOOTER
22. 404
23. BACK TO TOP
*/
/***************************************************/

/***************************************************/
/************** GLOBAL CSS *****************/
/***************************************************/
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,800,700,600);
@import url(https://fonts.googleapis.com/css?family=Lobster);

html,
body{
	font-family: 'Open Sans';
	color: #939393;
	font-size: 13px;
	line-height: 24px;
	overflow-x:hidden;
	-webkit-font-smoothing: antialiased;
}
ul {
	margin:0;
	padding:0;
}
li {
	list-style:none
}
h1,h2,h3,h4,h5,h6{
	color: #262626;
}
.section-padding{
	padding: 50px 0;
}
.section-accecnt{
	background: #F3F3F3;
}
::selection {
	background-color: #FF6D6D;
	color: #FFF;
}
::-moz-selection {
	background-color: #FF6D6D;
	color: #FFF;
}
.section-title { 
	margin-bottom: 60px 
}
.section-title  h2 {
	font-weight: 500;
	letter-spacing: 2px;
	margin: 0;
	text-transform: capitalize;
	position:relative;
}
.section-title span {
	background: #13bfb1 none repeat scroll 0 0;
	display: block;
	height: 2px;
	margin: 20px auto 0;
	overflow: hidden;
	position: relative;
	width: 50px;
}
.section-title-white{
	color:#fff;
}
span.section-title-white {
	background: #fff none repeat scroll 0 0;
	position: relative;
}
.no-padding{
	padding:0;
}
.title-desc h2{
	color: #4F4F4F;
	margin-bottom: 45px;
	font-family: 'Lobster';
	font-size: 36px;
}
h2 span{
	color: #FF6D6D;
}
.title-desc p{
	font-size: 14px;
    line-height: 26px;
    color: #939393;
    padding-bottom: 40px;
}
.title-desc h2:before{
	border-bottom: 2px dashed #4F4F4F;
    bottom: 0;
    content: "";
    height: 1px;
    left: calc(50% - 70px);
    position: absolute;
    width: 140px;
    top: 75px;
}
.title-desc h2:after{
	background: #FF6D6D;
    bottom: 0;
    content: "";
    height: 5px;
    left: calc(50% - 15px);
    position: absolute;
    width: 30px;
    top: 72px;
}
.spacer-45 {
    height: 45px;
}
p{
	margin-top: 20px;
    line-height: 26px;
    font-size: 14px;
}

/***************************************************/
/************** PRELOADER *****************/
/***************************************************/
#loading{
	background-color: #FF6D6D;
	height: 100%;
	width: 100%;
	position: fixed;
	z-index: 9999999;
	margin-top: 0px;
	top: 0px;
}
#loading-center{
	width: 100%;
	height: 100%;
	position: relative;
}
#loading-center-absolute {
	position: absolute;
	left: 50%;
	top: 50%;
	height: 200px;
	width: 200px;
	margin-top: -100px;
	margin-left: -100px;
   	transform: rotate(-135deg);
}
.object{
	border-radius: 50% 50% 50% 50%;
	position: absolute;
	border-top: 5px solid #fff;
	border-bottom: 5px solid transparent;
	border-left:  5px solid #fff;
	border-right: 5px solid transparent;
	animation: animate 2s infinite;	
}
#object_one{
	left: 75px;
	top: 75px;
	width: 50px;
	height: 50px;
}						
#object_two{
	left: 65px;
	top: 65px;
	width: 70px;
	height: 70px;
    animation-delay: 0.2s;
}		
#object_three{
	left: 55px;
	top: 55px;
	width: 90px;
	height: 90px;
    animation-delay: 0.4s;
}
#object_four{
	left: 45px;
	top: 45px;
	width: 110px;
	height: 110px;
    animation-delay: 0.6s;
}	
@-webkit-keyframes animate {
50% {
    transform: rotate(360deg) scale(0.8); 
  }
}

@keyframes animate {	
50% {
    transform: rotate(360deg) scale(0.8); 
  }		
}

/***************************************************/
/************** MAIN MENU *****************/
/***************************************************/
.navbar-default {
    border: none;
    border-radius: 0;
    margin-bottom: 0;
    width: 100%;
    padding: 20px 0;
    background: #fff;
    transition: all 0.4s ease-in-out;
}
.logo img{
    margin-top: -15px;
}
.menu-top { 
	background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
}
.menu-top li a {   
	color: #fff !important;
	font-size: 14px;
	font-weight: 400;
	letter-spacing: 2px;
	text-transform: uppercase;
	font-weight: 600;
}
.menu-top li a:hover { 
	color: #FF6D6D !important 
}
@media only screen and (max-width:768px) { 
    .navbar-default .navbar-nav > li > a {
        margin-top: 10px;
        padding: 8px;
    }
}
@media only screen and (max-width:480px) { 
    .menu-top { 
    	background-color: #fff 
    }
    .navbar-default .navbar-nav > li > a { 
    	color: #313131  !important 
    }
}
.navbar-default.menu-shrink {
    background-color: #fff;
    box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.1);
    padding: 10px 0;
    width: 100%;
}
@media only screen and (max-width:480px) { 
    .menu-top {
        color: #fff !important;
        margin-left: 0px;
    }
}
.navbar-default {
    border-color: transparent; 
}
.menu-shrink .mainmenu ul li a{
	color: #737373 !important;
	transition: all 0.3s;
}
.menu-shrink .mainmenu ul li a:hover{
	color: #ff6d6d !important;
}
/* DROPDOWN MENU */
.mainmenu ul li ul{
	position: absolute;
	left: -9999px;
	transition: max-height 0.2s ease-in;
}
.mainmenu ul li:hover ul{
	left: 0px;
}
.mainmenu ul li ul li{
	float: none;
}
.mainmenu ul.ctl-dropdown li{
	border-bottom: 1px solid #ccc;
	padding: 12px 12px;
	background: #F3F3F3;
}
.mainmenu ul.ctl-dropdown li:last-child{
	border-bottom: none;
}
.mainmenu ul.ctl-dropdown li:hover{
	background: #F3F3F3;
}
.mainmenu ul.ctl-dropdown li a{
	color: #737373 !important;
	text-decoration: none;
}
.mainmenu ul.ctl-dropdown li a:hover{
	color: #ff6d6d !important;
}
.mainmenu ul.ctl-dropdown li a::before{
	border-bottom: none;	
}
.mainmenu ul.ctl-dropdown{
	padding: 0;
}
.ctl-dropdown {
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 4px;
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
    transition: top .2s ease, opacity .2s ease;
    z-index: 9999;
}
.mainmenu ul ul li:first-child > a:after {
    content: '';
    position: absolute;
    left: 20px;
    top: -8px;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #F3F3F3;
}


/***************************************************/
/************** SLIDER AREA *****************/
/***************************************************/
.slider-area .carousel-fade .carousel-inner .item {
    background-repeat: no-repeat;
    background-size: cover;
  
}
.slider-area .carousel-fade .carousel-inner .item:after {
	background: rgba(0,0,0,.5);
	bottom: 0;
	content: " ";
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
}
.slider-area .carousel-control.left,
.slider-area .carousel-control.right{
	background-image: inherit;
}
.slider-area .carousel-control{
	top: 50%;
}
.slider-area .fa-chevron-left,
.slider-area .fa-chevron-right{
	border: 1px solid #fff;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    padding-top: 20px;
}
.slider-area .fa-chevron-left:hover,
.slider-area .fa-chevron-right:hover{
	background: #FF6D6D;
	border: 1px solid #FF6D6D;
}
.slider-area .carousel-caption{
	padding-bottom: 300px;
	opacity: 0;
}
.item.active .carousel-caption {
    opacity: 1;
    transition: 2s all ease-in-out .1s;    
}
.slider-area h1{
	font-size: 60px;
    line-height: 62px;
    font-family: 'Lobster';
    color: #fff;
}
.slider-area h2{
    font-family: 'Lobster';
    color: rgb(255,109,109);
    font-size: 50px;
    line-height: 50px;
}

#slider-area .active .carousel-caption h1 {
  animation: fadeInUp 300ms linear 300ms both;
}
#slider-area .active .carousel-caption h2{
  animation: fadeInUp 300ms linear 600ms both;
}
@keyframes fadeInUp {
	0% {
		opacity: 0;
		transform: translateY(20px);
	}
	
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}
.slider-area .carousel-indicators .active{
	background-color: #FF6D6D;
	border: 1px solid #FF6D6D;
}

/***************************************************/
/************** COUNT DOWN *****************/
/***************************************************/
.countdown-area{
	background: #fff;
	color: #fff;
}
.count-down-left{
	background: #FF6D6D;
	padding: 2px 1px;
	text-align: center;
}
.count-down-left p:first-child{
	font-size: 18px;
	margin-top: 14px;
}
.count-down-left p:last-child{
	font-size: 25px;
	padding-bottom: 7px;
}

.count-down {
	text-align: center;
}
.count-down ul {
	display: inline-block;
	position: relative;
	width: 70%;
}
.count-down .countdown-section {
	float: left;
	width: 25%;
	position: relative;
	padding: 20px 0;
	color: #333;
	font-weight: 700;
}
.count-down .countdown-section:after {
	background: #FF6D6D;
	content: "";
	width: 2px;
	height: 100%;
	position: absolute;
	right: 0px;
	top: 0px;
}
.count-down .countdown-section:last-child:after {
	background: none;
}
.count-down .countdown-amount {
	font-size: 40px;
	font-weight: 300;
	line-height: 0.7;
	font-weight: 700;
}
.count-down .countdown-period {
	display: block;
	font-size: 16px;
	text-transform: uppercase;
	line-height: 0.7;
	margin: 19px 0 0;
	letter-spacing: 1.2px;
}


/***************************************************/
/************** GROOM AND BRIDE *****************/
/***************************************************/
.couple-hand {
    margin-top: 20px;
}

.couple-hand img{
	box-shadow: 0 0 20px #262626;
	transition: all .3s ease-in .2s;	
	display: block;
	margin: 0 auto;
	border-radius: 5px;
}
.couple-hand img:hover{
	box-shadow: inherit;
}
.single-about{
	margin: 30px 0;
}
.single-about h4{
	font-weight: 600;
	position: relative;
}
.single-about h4:before{
	content: "";
    position: absolute;
    border-bottom: 2px dashed #FF6D6D;
    height: 2px;
    width: 10%;
    top: 30px;
}

/***************************************************/
/************** COUPLE INTRO *****************/
/***************************************************/
.couple-in-sea-beach{
	background: 
	    linear-gradient(rgba(12, 0, 0, 0.86),
		rgb(31, 0, 0) ),   
	    url(images/couple-intro-bg.jpg) center center no-repeat fixed;
	background-size: cover;
	background-attachment: fixed;
}
.bride-groom{
	background-image: 
	url(images/ci-left-top.png), 
	url(images/ci-right-top.png), 
	url(images/ci-left-bottom.png), 
	url(images/ci-right-bottom.png);
    background-position: 5px 4px, 99% 4px, 5px 99%, 99% 99%;
    background-repeat: no-repeat;
	width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 130px;
    margin-bottom: 130px;
    background-color: #fff;
    padding: 25px;
    border: 2px solid #FF6D6D;
    position: relative;
    
}
.bride-groom span{
	font-weight: 700;
}
.bride-groom h2{
	margin-bottom: 25px;
}
.bride-groom h2:after {
    background: #FF6D6D;
    bottom: 0;
    content: "";
    height: 3px;
    left: calc(50% - 40px);
    position: absolute;
    width: 75px;
    top: 91px;
}
.bride-groom-social{
	margin-top: 35px;
}
.bride-groom-social ul li{
	display: inline;
	padding: 0 8px;
}
.bride-groom-social ul li a{
	border: 1px solid #4F4F4F;
    padding: 6px 8px;
    color: #4F4F4F;
    font-size: 16px;
    transition: all 500ms ease-in-out;
}
.bride-groom-social ul li a:hover{
	border: 1px solid #FF6D6D;
	color: #FF6D6D;
}
.bride-groom-social ul li a i{
	width: 15px;
	height: 15px;
}

/***************************************************/
/************** OUR SERVICE *****************/
/***************************************************/
.our-single-service img{
	float: left;
	box-shadow: 0 0 20px rgba(60, 47, 47, 0.94);
	width: 100px;
    height: 100px;
    transition: all 500ms ease-in-out;
    margin-right: 13px;
    border-radius: 3px;
}
.our-single-service:hover img{
	box-shadow: inherit;
}
.single-service-desc{
	margin-left: 110px;
}

.our-single-service p{
	font-size: 13px;
}

.our-single-service h3{
	position: relative;
	font-size: 18px;
    line-height: 26px;
    color: #262626;
    font-weight: 600;
}
.our-single-service h3:before{
	content: "";
    position: absolute;
    border-bottom: 2px dashed #FF6D6D;
    height: 2px;
    width: 30%;
    top: 35px;
    left: 4px;
}

/***************************************************/
/************** PROGRAM TIMELINE *****************/
/***************************************************/
.timeline {
    position: relative;
    padding: 21px 0px 10px;
    margin-top: 4px;
    margin-bottom: 30px;
}
.timeline .line {
    position: absolute;
    width: 4px;
    display: block;
    background: currentColor;
    top: 0px;
    bottom: 0px;
    margin-left: 30px;
}

.timeline .line::before {
    top: -4px;
}
.timeline .line::after {
    bottom: -4px;
}
.timeline .line::before,
.timeline .line::after {
    content: '';
    position: absolute;
    left: -4px;
    width: 12px;
    height: 12px;
    display: block;
    border-radius: 50%;
    background: currentColor;
}
.timeline .panel {
    position: relative;
    margin: 10px 0px 21px 70px;
    clear: both;
}
.timeline .panel::before {
    position: absolute;
    display: block;
    top: 8px;
    left: -24px;
    content: '';
    width: 0px;
    height: 0px;
    border: inherit;
    border-width: 12px;
    border-top-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
}
.timeline .panel .panel-heading.icon * {
    font-size: 20px;
    vertical-align: middle;
    line-height: 40px;
}
.timeline .panel .panel-heading{
	background-color: #FF6D6D;
    border-color: #FF6D6D;
}
.timeline .panel-primary {
    border-color: #FF6D6D;
    margin-top: 40px;
}
.timeline .panel-primary:first-child{
	margin-top: 10px;
}
.timeline .panel .panel-heading.icon {
    position: absolute;
    left: -61px;
    display: block;
    width: 42px;
    height: 42px;
    padding: 0px;
    border-radius: 50%;
    text-align: center;
    float: left;
    border: 2px solid #fff;
}
.timeline .panel-outline {
    border-color: transparent;
    background: transparent;
    box-shadow: none;
}
.timeline .panel-outline .panel-body {
    padding: 10px 0px;
}
.timeline .panel-outline .panel-heading:not(.icon),
.timeline .panel-outline .panel-footer {
    display: none;
}

.dinner-menu img{
	margin-top: 65px;
	border-radius: 3px;
	box-shadow: 1px 1px 11px 2px #777777;
}
.dinner-menu h2{
	position: relative;
	margin-top: 30px;
	padding-bottom: 20px;
}
.dinner-menu h2:before{
	border-bottom: 2px dashed #4F4F4F;
    bottom: 0;
    content: "";
    height: 1px;
    left: calc(50% - 70px);
    position: absolute;
    width: 140px;
    top: 44px;
}
.dinner-menu h2:after {
    background: #FF6D6D;
    bottom: 0;
    content: "";
    height: 5px;
    left: calc(50% - 15px);
    position: absolute;
    width: 30px;
    top: 41px;
}
a.read-more {
    border: 1px solid rgb(255, 109, 109);
    border-radius: 5px;
    color: #ff6d6d;
    display: inline-block;
    font-size: 13px;
    font-weight: bold;
    line-height: 22px;
    margin-bottom: 10px;
    padding: 5px 15px;
    text-transform: uppercase;
    text-decoration: none;
    margin-top: 10px;
    transition: all 500ms ease-in-out;
}
a.read-more:hover{
	background: #FF6D6D;
	border: 1px solid #FF6D6D;
	color: #fff;
}

/***************************************************/
/************** PHOTO GALLERY *****************/
/***************************************************/
.portfolio-filters { 
	margin-bottom: 40px;
}
.portfolio-filters li.active,
.portfolio-filters li:hover,
.portfolio-filters li.active:focus{
	color: #FF6D6D !important;
}
.portfolio-filters li {
	color: #333;
	cursor: pointer;
	display: inline-block;
	font-size: 14px;
	margin-right: 5px;
	padding: 0 20px;
	text-transform: uppercase;
	transition: all 0.4s ease 0s;
}
@media only screen and (max-width:480px) { 
    .portfolio-filters li { 
    	margin-bottom: 10px;
    }
}
.portfolio-filters li:hover { 
	color: #FF6D6D;
	cursor: pointer;
}
.grid .mix {
    display: none;
    opacity: 0;
    filter: alpha(opacity=0);
}
.image-wrapper { 
	position: relative;
}
.image-wrapper img {
    width: 100% !important;
    height: auto;
}
.image-overlay {
    background: rgba(191, 19, 73, 0.7);
    position: absolute;
    text-align: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.image-overlay span a {
    color: #fff;
    font-weight: 600;
    left: 33%;
    position: absolute;
    text-transform: uppercase;
    top: 48%;
}
.image-wrapper:hover .image-overlay {
    opacity: 1;
    filter: alpha(opacity=100);
}
.portfolio_btn {
	margin: 0;
	padding-top: 60px;
}
.portfolio_btn a { 
	border: medium none;
}
.no-padding{
	padding: 0;
}

/***************************************************/
/************** INTRO VIDEO *****************/
/***************************************************/
.intro-video{
	overflow: hidden;
	padding-top: 25px;
	background: #F3F3F3;
}
.video {
	width: 100%;
	float: right;
	position: relative;
	height: 700px;
}
.video iframe {
	bottom: 0;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 9;
}
.video img {
	height: 100%;
	width: 100%;
}
.video a {
	width: 168px;
	height: 168px;
	border-radius: 50%;
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	border: 9px solid #ffffff;
	display: block;
}
.video a .fa-play {
	font-size: 72px;
	color: #ffffff;
	position: relative;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

/***************************************************/
/************** OUR FRIENDS *****************/
/***************************************************/
#our-friends {
    padding-bottom: 75px;
}
.friends-intro .nav-tabs{
	background: #FF6D6D;
    border: inherit;
}
.bride-friends img {
    box-shadow: -1px -1px 8px 0px #777;
}
.accent .nav-tabs{
	background: #4F4F4F;
}
.friends-intro .nav-tabs>li{
	margin-bottom: -2px;
}
.friends-intro .nav-tabs>li.active>a{
	border: inherit;
	color: #4F4F4F;
}
.friends-intro .nav-tabs>li a{
	border-radius: inherit;
	color: #fff;
}
.friends-intro .nav-tabs>li a:hover{
	background-color: #fff;
	color: #4F4F4F;
	border-color: transparent;
}
.friends-intro ul li a{
	text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
}
.single-friend h2 {
    font-weight: 500;
    position: relative;
}
.single-friend h2:before {
    content: "";
    position: absolute;
    border-bottom: 2px dashed #FF6D6D;
    height: 2px;
    width: 10%;
    top: 45px;
    left: calc(50% - 30px);
}
.single-friend ul{
	margin-top: 20px;
}
.single-friend ul li{
	display: inline;
	padding: 0 8px;
}
.single-friend ul li a{
	border: 1px solid #4F4F4F;
    padding: 6px 8px;
    color: #4F4F4F;
    font-size: 16px;
    transition: all 500ms ease-in-out;
}
.single-friend ul li a:hover{
	border: 1px solid #FF6D6D;
	color: #FF6D6D;
}
.single-friend ul li a i{
	width: 15px;
	height: 15px;
}

/***************************************************/
/************** COUNTER UP *****************/
/***************************************************/
#counter-up{
    background: 
    linear-gradient(rgba(93, 84, 84, 0.45),rgba(8, 8, 8, 0.69) ),      
    url(images/counter-up-bg.jpg) center center no-repeat fixed;
	-webkit-background-size: cover;
	background-size: cover;
}
.promoInfo span.counter {
    color: #FF6D6D;
    font-size: 35px;
    font-weight: 700;
}
.promoInfo b{
	color: #fff;
    font-size: 30px;
}

/***************************************************/
/************** SUPPORT STUFF *****************/
/***************************************************/
.stuff-left h2{
	text-transform: uppercase;
    background-color: #262626;
    color: #fff;
    padding: 7px 20px;
    line-height: 1;
    vertical-align: baseline;
    border-radius: 3px;
    width: 65%;
    margin: 0 auto;
    letter-spacing: 3px;
}
#stuffLeftSlider{
	background-color: #FF6D6D;
	margin-top: 20px;
	box-shadow: 0 0 20px #262626;
}
#stuffLeftSliderRight{
	background-color: #262626;
	margin-top: 20px;
	box-shadow: 0 0 20px #FF6D6D;
}
.stuff-left.right h2{
	background-color: #FF6D6D;
}
#stuffLeftSlider .carousel-control.right,
#stuffLeftSlider .carousel-control.left,
#stuffLeftSliderRight .carousel-control.right,
#stuffLeftSliderRight .carousel-control.left{
	background-image: inherit;
	top: 50%;
}
#stuffLeftSlider .item,
#stuffLeftSliderRight .item{
	padding: 20px;
}
#stuffLeftSlider .item img,
#stuffLeftSliderRight .item img{
	width: 300px;
	height: 300px;
	display: block;
	margin: 0 auto;
}
.stuff-contact ul{
	margin-top: 20px;
}
.stuff-contact ul li{
	display: inline;
	padding: 0 8px;
}
.stuff-contact ul li a{
	color: #fff;
	font-size: 20px;
}




/***************************************************/
/************** FRIEND WISHES *****************/
/***************************************************/
#quote-carousel .carousel-control {
    background: none;
    color: #5d6b82;
    font-size: 2.3em;
    text-shadow: none;
}
#quote-carousel .carousel-control.left {
    left: 0px;
    margin-top: 220px;
}
#quote-carousel .carousel-control.right {
    right: 0px;
    margin-top: 220px;
}
#quote-carousel .carousel-indicators {
   	top: 30px;
    position: relative;
}
#quote-carousel .carousel-indicators li {
    width: 50px;
    height: 50px;
    margin: 5px;
    cursor: pointer;
    border: 4px solid #CCC;
    border-radius: 50px;
    opacity: 0.4;
    overflow: hidden;
    transition: all 500ms ease-in-out;
	-webkit-transition: all 500ms ease-in-out;
	-ms-transition: all 500ms ease-in-out;
	-o-transition: all 500ms ease-in-out;
	-moz-transition: all 500ms ease-in-out;
}
#quote-carousel .carousel-indicators .active {
    width: 50px;
    height: 50px;
    border-radius: 100px;
    border-color: #FF6D6D;
    opacity: 1;
    overflow: hidden;
}
.slider-testimonial .carousel-inner {
    margin-top: 60px;
}
h4.clientName{
	font-style: initial;
    padding-top: 30px;
    color: #262626;
    font-weight: 600;
}
p.clientDesignation{
	font-style: initial;
    color: #262626;
}

/***************************************************/
/************** BLOG *****************/
/***************************************************/
.single-blog{
	background-size: cover;
	padding: 42px 0;
	border-radius: 5px;
	box-shadow: 0 0 15px #262626;
}
.blog-content{
	width: 280px;
	background: #fff;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
	border-radius: 5px;
}
.blog-content h2{
	font-size: 18px;
    line-height: 30px;
    font-weight: 600;
}
.blog-content p.blog-date{
	margin-top: 0;
	letter-spacing: 3px;
	position: relative;
}
p.blog-date:after{
	border-bottom: 2px dashed #FF6D6D;
    bottom: 0;
    content: "";
    height: 1px;
    left: calc(50% - 35px);
    position: absolute;
    width: 53px;
    top: 30px;
}
.blog-content p{
	font-size: 13px;
    line-height: 22px;
}
a.all-posts{
	text-align: center;
    display: block;
    margin: 0 auto;
    width: 160px;
    height: 40px;
    border: 1px solid #FF7878;
    font-weight: bold;
    font-size: 12px;
    line-height: 40px;
    color: #262626;
    background: transparent;
    text-transform: uppercase;
    margin-top: 65px;
    border-radius: 15px;
    transition: all 500ms ease-in-out;
    text-decoration: none;
}
a.all-posts:hover{
	background: #FF6D6D;
	color: #fff;
}

/***************************************************/
/************** WISHED GIFTS *****************/
/***************************************************/
#wishedSlider .carousel-indicators li{
	border: 1px solid #FF6D6D;
}
#wishedSlider .carousel-indicators li.active{
	background-color: #FF6D6D;
	border: 1px solid #FF6D6D;
}
#wishedSlider img{
	border-radius: 5px;
	box-shadow: 0 0 15px #262626;
	margin-top: 15px;
}
.single-wished{

}
.single-wished p{
	font-weight: 600;
	color: #262626;
}
p.wish-price{
	font-weight: 600;
	color: #FF6D6D;
	font-size: 20px;
}
.product-rating{
	font-size: 20px;
	margin-bottom: 25px;
}
.gold {
    color: #FFBF00;
}

/***************************************************/
/************** RSVP *****************/
/***************************************************/
.contact .form-control {
	background: #f8f8f8 none repeat scroll 0 0;
	border: 1px solid #aaa;
	border-radius: 0;
	color: #777;
	min-height: 42px;
	transition: all 0.3s ease-in-out 0s;
}
.contact .form-control:focus {
	border: 1px solid #aaa;
	color: #555;
	outline: none;
	box-shadow: none;
}
.contact textarea {
	resize: none;
	height: 240px;
	margin-bottom: 30px;
}
#contactForm label{
	color: #262626;
	font-size: 14px;
}
.contact .form-group.warning .form-control:focus + label,
.contact .form-group.warning .form-control.has-value + label,
.contact .form-group .text-danger {
	color: #FF6D6D;
}
.contact .form-group .text-danger ul {
	list-style: none;
}
.contact .form-group.warning .form-control {
	border-color: #FF6D6D;
}
.contact .submit-btn {
	display: block;
    width: 100%;
    padding: 14px 20px;
    border: 1px solid #CCC;
    border-radius: 0;
    background: #fff;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: #262626;
    transition: all 0.3s ease-in-out;
    font-weight: 600;
    text-align: center;
}
.contact .submit-btn:hover {
	border: 1px solid #4F4F4F;
	background: #4F4F4F;
	color: #fff;
}
.contact .submit-btn:active {
	-webkit-transform: translateY(3px);
	-moz-transform: translateY(3px);
	-ms-transform: translateY(3px);
	-o-transform: translateY(3px);
	transform: translateY(3px);
}
.contact .form-response { 
	margin-top: 10px;
	color: #333;
}
.contact .contact-info {
	margin-top: 40px;
}
.contact .contact-info .info {
	margin-bottom: 40px;
}
.contact .contact-info .info i {
	background: #13bfb1 none repeat scroll 0 0;
	border-bottom: 4px solid rgba(233, 233, 233, 0.8);
	border-radius: 100px;
	color: #fff;
	display: block;
	font-size: 3rem;
	height: 80px;
	line-height: 80px;
	margin: 0 auto;
	width: 80px;
}
.contact .contact-info .info .info-content h3 {
	color: #181818;
	text-transform: uppercase;
	letter-spacing: 1.5px;
	margin-top: 40px;
}
.contact .contact-info .info .info-content span {
	display: block;
	color: #555;
	letter-spacing: 1.5px;
	margin: 5px auto;
}
.mpe{
	margin-top: 50px;
}
.single-contact{
	border: 5px solid #4F4F4F;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin: 0 auto;
    transition: all 500ms ease-in-out;
}
.single-contact:hover{
	border: 5px solid #FF6D6D;
}
.single-contact .fa{
	color: #FF6D6D;
    font-size: 40px;
    margin-top: 30px;
}
.single-contact p{
	margin-top: 15px;
    font-weight: 600;;
    color: #4F4F4F;
}
#map_wrapper {
	height: 320px;
	margin-top: 50px;
	margin-bottom: -50px;
}
#map_canvas {
	width: 100%;
	height: 100%;
}
.info_content p {
    margin-top: 0px;
}

/***************************************************/
/************** FEATURE IMAGE *****************/
/***************************************************/
#page-bg-image{
	-webkit-background-size: cover;
	background-size: cover;
	height: 400px;
	background-attachment: fixed;
	position: relative;
}
#page-bg-image:before {
	background: rgba(0,0,0,0.85);
	bottom: 0;
	content: "";
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
}
.page-bg-image-content {
    padding-top: 14%;
}
.page-bg-image-content h2{
	font-family: "Lobster";
    color: #fff;
    font-size: 45px;
    letter-spacing: 2px;
}
.page-bg-image-content p{
	color: #fff;
    letter-spacing: 3px;
}
.post-controller{
	padding-top: 40px;
}
.single-page-content .breadcrumb{
	background-color: transparent;
	padding: 8px 0;
}
.single-page-content .breadcrumb li+li:before{
	content: "\f054";
	font-family: FontAwesome;
}
.single-page-content .breadcrumb li a,
.single-page-content .breadcrumb>.active{
	color: #262626;
    font-size: 17px;
    font-weight: 600;
    transition: all 500ms ease-in-out;
    text-decoration: none;

}
.single-page-content .breadcrumb li a:hover{
	color: #FF6D6D;
}
.post-controller .pagination{
	float: right;
}
.post-controller .pagination>li:first-child>a{
	border-bottom-left-radius: 0;
	border-top-left-radius: 0;
}
.post-controller .pagination>li:last-child>a{
	border-bottom-right-radius: 0;
	border-top-right-radius: 0;
}
.post-controller .pagination>li>a, 
.pagination>li>span{
	border: none;
	margin-left: 12px;
	background: #FF6D6D;
	color: #fff;
	text-transform: uppercase;
    font-weight: 600;
    transition: all 500ms ease-in-out;
}
.post-controller .pagination>li>a:hover{
	color: #4F4F4F;
}


.blog-main-part{
	margin-top: 40px;
}
.feature-image img{
	width: 100%;
}
p.post-info{
	background: #FF6D6D;
    padding: 10px;
    margin-top: 0;
    color: #fff;
}
p.post-info a{
	margin-right: 20px;
	color: #fff;
	font-weight: 600;
	text-decoration: none;
	transition: all 500ms ease-in-out;
}
p.post-info a:hover{
	color: #4F4F4F;
}
.post-content h2{
	color: #262626;
	font-weight: 600;
	position: relative;
	padding: 10px 0;
	text-transform: capitalize;
}
.post-content h2:before {
    content: "";
    position: absolute;
    border-bottom: 2px dashed #FF6D6D;
    height: 2px;
    width: 10%;
    top: 58px;
}
.post-content p span{
	background: #FF6D6D;
    padding-top: 5px;
    color: #fff;
    font-size: 25px;
    margin-top: 9px;
    display: block;
    width: 35px;
    float: left;
    margin-right: 10px;
    height: 35px;
    text-align: center;
}
.post-content blockquote.block2 {
    padding: 13px 0;
    margin: 0 0 13px;
    font-size: 14px;
    border-left: 0;
    position: relative;
    font-style: italic;
}
.post-content blockquote.block2:before {
    content: "\f10d";
    font-family: FontAwesome;
    font-size: 28.34px;
    padding-right: 10px;
    color: #d0d3d9;
}
.post-content blockquote.block2:after {
    content: "\f10e";
    font-family: FontAwesome;
    font-size: 28.34px;
    padding-left: 10px;
    color: #d0d3d9;
}
.post-content p{
	color: #939393;
    font-size: 13px;
    line-height: 24px;
}
.author-intro{
	background: #FF6D6D;
    padding: 5px;
    color: #fff;
    margin-top: 50px;
}
.author-intro img{
	float: left;
    width: 100px;
    height: 109px;
}
.author-intro-txt{
	padding-left: 125px;
}
.author-intro-txt h5 {
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    position: relative;
}
.author-intro-txt h5:before {
    content: "";
    position: absolute;
    border-bottom: 2px dashed #fff;
    height: 2px;
    width: 10%;
    top: 35px;
}
.author-intro-txt p{
	color: #fff;
}
.socialShare h6{
	font-size: 13px;
	font-weight: 600;
}
.socialShare{
	padding: 20px 0 45px 0;
}
.socialShare ul li{
	float: left;
	padding-right: 15px;
}
.socialShare ul li a{
	color: #262626;
	transition: all 500ms ease-in-out;
}
.socialShare ul li a .fa{
	font-size: 15px;
}
.socialShare ul li a:hover{
	color: #FF6D6D;
}



.blogCommentArea{
	color: #3c4a62;
}
.blogCommentArea .comments-area{
	position:relative;
	margin-bottom:50px;	
}
.blogCommentArea .group-title{
	position: relative;
    margin-bottom: 30px;
    border-bottom: 1px solid #ccc;
}
.blogCommentArea .group-title h2{
	font-size: 18px;
	text-transform:none;
	font-weight:600;
}
.blogCommentArea .group-title h2 strong{
	font-weight:700;	
}
.blogCommentArea .comments-area .comment-box{
	position:relative;
	padding:0px 0px;
	border: none;
	background: transparent;
	margin-bottom:25px;
}
.blogCommentArea .comments-area .comment-box .comment:first-child{
	border:none;
}
.blogCommentArea .comments-area .comment{
	position:relative;
	padding:25px 30px 20px 130px;
	border-top:1px solid #e9e9e9;	
}
.blogCommentArea .comments-area .comment .text{
	margin-bottom:15px;	
}
.blogCommentArea .comments-area .reply-comment{
	padding-top:25px;
	margin-left:90px;
	padding-left:100px;	
}
.blogCommentArea .comments-area .comment-box .author-thumb{
	position:absolute;
	left:30px;
	top:25px;
	width:70px;
}
.blogCommentArea .comments-area .reply-comment .author-thumb{
	left:0px;
}
.blogCommentArea .comments-area .comment-box .author-thumb img{
	width:100%;
	display:block;
	border-radius:3px;
}
.blogCommentArea .comments-area .comment-info{
	margin-bottom:10px;
	line-height:24px;
	font-size:13px;	
}
.blogCommentArea .comments-area .comment-box strong{
	font-size: 16px;
	font-weight:600;
	display:block;
	text-transform:capitalize;
	font-family: 'Titillium Web', sans-serif;
}
.blogCommentArea .comments-area .comment-info .comment-time{
	font-size:13px;
}
.blogCommentArea .comments-area .reply-btn {
    line-height: 24px;
    color: #FF6D6D;
    text-transform: initial;
    font-size: 14px;
    font-weight: 600;
    transition: all 500ms ease-in-out;
    text-decoration: none;
}
.blogCommentArea .comments-area .reply-btn:hover{
	color:#4F4F4F;
}
a.vehicleBtn {
    font-size: 16px;
    background: #FF6D6D;
    padding: 5px 20px;
    color: #fff;
    margin: 25px 0;
    font-weight: 600;
}
a.vehicleBtn {
    text-decoration: none;
}


.comment-form .row{
	margin-left:-10px;
	margin-right:-10px; 
 }
.comment-form .form-group{
	position:relative;
	margin-bottom:20px;
	padding:0px 10px;	
}
.comment-form .form-group input[type="text"],
.comment-form .form-group input[type="password"],
.comment-form .form-group input[type="tel"],
.comment-form .form-group input[type="email"],
.comment-form .form-group select{
	position:relative;
	display:block;
	width:100%;
	line-height:24px;
	padding:12px 15px;
	color:#222222;
	border:1px solid #e0e0e0;
	height:50px;
	border-radius:2px;
	transition:all 300ms ease;
	-webkit-transition:all 300ms ease;
	-ms-transition:all 300ms ease;
	-o-transition:all 300ms ease;
	-moz-transition:all 300ms ease;
}
.comment-form .form-group input[type="text"]:focus,
.comment-form .form-group input[type="password"]:focus,
.comment-form .form-group input[type="tel"]:focus,
.comment-form .form-group input[type="email"]:focus,
.comment-form .form-group select:focus,
.comment-form .form-group textarea:focus{
	border-color:#01bcfa;
	background:#fefefe;
}
.comment-form .form-group textarea{
	position:relative;
	display:block;
	width:100%;
	line-height:24px;
	padding:10px 15px;
	color:#222222;
	border:1px solid #e9e9e9;
	height:220px;
	resize:none;
	border-radius:3px;
	transition:all 300ms ease;
	-webkit-transition:all 300ms ease;
	-ms-transition:all 300ms ease;
	-o-transition:all 300ms ease;
	-moz-transition:all 300ms ease;
}
.comment-form button{
	position:relative;
	padding:9px 20px;
}
.blog-news-section .post-share-options{
	position:relative;
	padding:15px 0px;
	background:#ffffff;
	border-top:1px solid #e0e0e0;
	border-bottom:1px solid #e0e0e0;
}
.blog-news-section .post-share-options .tags{
	font-size:14px;
	line-height:24px;
	padding-top:5px;	
}
.blog-news-section .post-share-options .tags a{
	position:relative;
	color:#404040;
	font-size:14px;
	font-style:italic;
	font-weight:500;
}
.blog-news-section .post-share-options strong{
	text-transform:uppercase;
	font-weight:600;
	color:#1c1c1c;
	padding-right:10px;
}


.blogSidebar h2{
	font-size: 18px;
    color: #262626;
    font-weight: 600;
    padding: 15px 0;
    text-transform: initial;
}
.sidebarSearch{
	overflow: hidden;
}
.sidebarSearch .navbar-form{
	padding: 0;
	margin-top: 0;
}
.sidebarSearch .form-control{
	height: 49px;
	border-radius: 2px;
	width: 295px;
	border: 1px solid #262626;
	box-shadow: inherit;
}
.sidebarSearch .form-control:focus {
    border-color: none;
    outline: none;
    box-shadow: none;
}
.sidebarSearch button{
	color: #fff;
    background: #FF6D6D;
    border: none;
    padding: 14px 23px 18px 23px;
    border-radius: 2px;
    font-size: 16px;
    display: inline-block;
    transition: all 500ms ease-in-out;
}
.sidebarSearch input[type="text"]::placeholder {
	color: #000;
}
.sidebarSearch button:hover{
    background: #4F4F4F;
}
.categoryList ul li{
	padding: 5px 20px;
	position: relative;
}
.categoryList ul li:before{
	content: "\f08a";
    position: absolute;
    font-family: FontAwesome;
    font-size: 15px;
    color: #FF6D6D;
    left: 0;
}
.categoryList ul li a{
	color: #4F4F4F;
	text-decoration: none;
	transition: all 500ms ease-in-out;
}
.singleLatestPost p{
	margin-top: 0;
	color: #4F4F4F;
	text-decoration: none;
	transition: all 500ms ease-in-out;
	line-height: 21px;
	font-size: 13px;
}
.categoryList ul li a:hover, 
.singleLatestPost p:hover{
	color: #FF6D6D;
}


.singleLatestPost{
	display: block;
    overflow: hidden;
    padding-bottom: 20px;
}
.singleLatestPost:last-child{
	padding-bottom: 0;
}
.singleLatestPost img{
	float: left;
	padding-right: 15px;
	width: 90px;
	height: 70px;
}
.tagcloud a{
	font-size: 11px !important;
    letter-spacing: 1px;
    text-transform: uppercase;
    background: #FF6D6D;
    color: #fff;
    padding: 6px 8px 7px;
    margin-right: 5px;
    margin-bottom: 8px;
    display: inline-block;
    border-radius: 2px;
    transition: .3s;
    text-decoration: none;
    font-weight: 600;
}
.tagcloud a:hover {
    background: #4F4F4F;
}

/***************************************************/
/************** FOOTER *****************/
/***************************************************/
.footer-area{
	background: #4F4F4F;
	color: #fff;
	margin-bottom: 0 !important;
}
.footer-area  p {
	margin: 0;
	padding: 30px 0;
}
.footer-area i{
	color: #FF6D6D;
}
.footer-area a{
	color: #fff;
	text-decoration: none;
	font-weight: 600;
	transition: 500ms ease-in-out;
}
.footer-area a:hover{
	color: #FF6D6D;
}

/***************************************************/
/************** 404 *****************/
/***************************************************/
img.err-img{
	display: block;
	margin: 0 auto;
}
.errorPageInner p{
	font-size: 60px;
	color: #737373;
	line-height: 65px;
}
.errorPageInner p.errNotice{
	color: #FF6D6D;
	font-size: 72px;
	margin: 65px 0;
}

/***************************************************/
/************** BACK TO TOP *****************/
/***************************************************/
#back-to-top {
    position: fixed;
    bottom: 40px;
    right: 40px;
    z-index: 9999;
    width: 32px;
    height: 32px;
    text-align: center;
    line-height: 30px;
    background: #f5f5f5;
    color: #000;
    cursor: pointer;
    border: 0;
    border-radius: 2px;
    text-decoration: none;
    transition: opacity 0.2s ease-out;
    opacity: 0;
}
#back-to-top:hover {
    background: #FF6D6D;
    color: #fff;
}
#back-to-top.show {
    opacity: 1;
}





















































































































































